{% extends "navshell.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>
                About NoEssay
            </h2>
            <p>
            NoEssay is a non-predatory scholarship search engine. We help more students find legitimate scholarships than any other
            publicly available site. NoEssay will always be free for scholarship seekers and we will never share user information
            with third parties unless users explicitly ask us to. </p>

            <p>
            <h2>Advertisers</h2>
            We display keyword-targeted ads on search result pages, similar to other big-name search engines. To talk about
            advertising on CPC or CPA basis, contact Nick (nickc@trillworks.com).
            </p>

        </div>
    </div>
{%  endblock %}