{% load humanize %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
<meta name="google-site-verification" content="5wfNqASdvOC5KTXu6TfnRss2fvnNKJazWt1HGBJQmc8" /> 
<meta name="msvalidate.01" content="19CFB58CDB04D855638670E1907914FF" /> 
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="http://noessay.com" />
    <meta name="description" content="Search scholarships all over America for free. No Essay is a comprehensive scholarship search engine.">
    <meta name="keywords" content="scholarships, no essay scholarships, scholarship search, no essay, noessay">
    <title>No Essay Scholarships</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/global.css" %}" />
    <link rel="stylesheet" href="{% static "css/select2.css" %}" />
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
        typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
    mixpanel.init("752f301471ad54cb0cc0c8ce77f200da");</script><!-- end Mixpanel -->
</head>
<body>
<div id="home-container" class="container-fluid">
    <div class="row-fluid">
        <div class="span8 offset2 center-text">
            <div id="logo-container" class="inline-block">
                <h1 class="site-title">No Essay</h1>
                <span class="announcement">No Essay has moved to <a href="http://scholarhippo.com">Scholar Hippo</a>.</span>

            </div>
        </div>

    </div>
</div>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/select2.min.js" %}"></script>
<script src="http://j.maxmind.com/js/geoip.js" charset="ISO-8859-1" type="text/javascript" ></script>
{% if environment == 'dev' %}
    <script src="{% static "js/home.js" %}"></script>
{% else %}
    <script src="{% static "static/js/home.min.js" %}"></script>
{% endif %}
{% include 'google_analytics_fragment.html' %}
</body>
</html>
