<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
    <meta charset="utf-8" />
    <title>No Essay Scholarships</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/noessay.css" />
</head>
<body>
<div id="home-container" class="container">
    <div class="row">
        <div class="span8 offset2">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script src="static/js/jquery.js"></script>
<script src="static/js/noessay.js"></script>
</body>
</html>