<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
    <meta charset="utf-8" />
    <title>No Essay Scholarships</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/navshell.css" />
</head>
<body>
<div id="navshell-header-bar">
    <div id="navshell-logo">
    <a href="/">
        <img class="block" src="static/img/ne_logo_small.png">
    </a>
    Scholarship Search
    </div>
    <div id="navshell-search-controls">
        <form action="/search" method="get">
            <div class="inline-block input-container">
                <label for="what">What</label> <input name="q" class="what-input" type="text" id="what" placeholder="Enter an area of study"/>
            </div>
            <div class="inline-block input-container">
                <label for="where">Where</label> <input name="l" class="what-input" type="text" id="where" />
            </div>
            <input id="navshell-search-button" class="inline-block" type="submit" value="Find Scholarships" />
        </form>
    </div>
</div>
<div id="navshell-container">
    <div class="row">

    </div>
    <div class="row">
            {% block content %}
            {% endblock %}
    </div>
</div>
<script src="static/js/jquery.js"></script>
<script src="static/js/noessay.js"></script>
</body>
</html>