{% extends "navshell.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/serp.css" />
<link rel="stylesheet" href="/static/css/jquery-ui-1.10.1.custom.css" />
<script src="/static/js/jquery-ui-1.10.1.custom.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/serp.js"></script>
<div class="row">
    <div id="left-col-container" class="span3">
        <h4>Refine your search</h4>
            <div>
                <label class="checkbox" for="refine-no-essay-required">
                    <input type="checkbox" id="refine-no-essay-required" value="essay-required" {% if search_request.no_essay_required %}checked{% endif %}>No essay required
                </label>

            </div>
            <div>
                <label for="refine-deadline">Deadline after</label>
                <input id="refine-deadline" type="text"/>
            </div>

        <div>
            <label for="refine-ethnicity">Race / Ethnicity Restriction</label>
            <select id="refine-ethnicity">
                <option value="">None</option>
                <option value="0">Native American Indian</option>
                <option value="1">Asian</option>
                <option value="2">Black</option>
                <option value="3">Native Hawaiian/Pacific Islander</option>
                <option value="4">White</option>
                <option value="5">Latino/Hispanic</option>
                <option value="6">International</option>
            </select>
        </div>
        <div>
            <label for="refine-gender">Gender Restriction</label>
            <select id="refine-gender">
                <option value="">None</option>
                <option value="0">Male</option>
                <option value="1">Female</option>
                <option value="2">Other</option>
            </select>
        </div>
        <div>
            <button id="refine-submit" class="btn">Refine</button>
        </div>
    </div>
    <div class="span9" id="serp-container">
        {% for scholarship in scholarship_list %}
            {% include "result_fragment.html" with result=scholarship%}
        {% endfor %}
    </div>
</div>
{% endblock %}