body {
    background: url(/static/img/gray_jean.png) repeat;
}

input.what-input {
    display: inline-block;
    height: 30px;
    font-size: 20px;
    width: 230px;
}

.where-label {
    display: inline-block;
}

.search-button {
    margin: 0px auto;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    width: 200px;
}

#search-controls {
    margin: 0px auto;
    text-align: center;

}

.input-container {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.site-title {
    font-size: 50px;
}

#logo-container {
    margin: 20% 0px 20px 0px;
}

#location-combobox-container {
    margin-left: 10px;
}

#location-combobox-container .select2-container .select2-choice {
    height: 36px;
    font-size: 18px;
}

#location-combobox-container .select2-choice > span {
    margin-top: 4px;
}

.hint {
    color: #777;
}

.input-container input {
    margin-bottom: 5px;
}